"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "jekyll-new-post"
      "jekyll"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  jekyll: {}
  "markdown-writer":
    relativeImagePath: true
    renameImageOnCopy: true
    siteEngine: "jekyll"
    siteImagesDir: "images/"
    siteLocalDir: "/Users/davidy/Documents/Personal/Projects/blog/"
    siteUrl: "https://www.funkypenguin.co.nz"
    urlForCategories: "https://www.funkypenguin.co.nz/assets/categories.json"
    urlForPosts: "https://www.funkypenguin.co.nz/assets/posts.json"
    urlForTags: "https://www.funkypenguin.co.nz/assets/tags.json"
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
