"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    softWrapAtPreferredLineLength: true
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "jekyll-new-post"
      "jekyll"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  jekyll: {}
  "markdown-writer":
    siteEngine: "jekyll"
    siteUrl: "https://www.funkypenguin.co.nz"
    urlForPosts: "https://www.funkypenguin.co.nz/assets/posts.json"
    urlForTags: "https://www.funkypenguin.co.nz/assets/tags.json"
    urlForCategories: "https://www.funkypenguin.co.nz/assets/categories.json"
    siteLocalDir: "/Users/david/Documents/Projects/blog/"
    siteImagesDir: "images/"
